@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model Sitecore.Modules.WeBlog.Mvc.Model.EntryTags

@if (Model.TagLinks.Count > 0 || Model.IsPageEditing)
{
    <div class="wb-entry-tags wb-panel">
        <h3>@Translator.Render("TAGS").ToHtmlString() </h3>
        <ul>
            @if (Model.IsPageEditing)
            {
                @Html.Sitecore().Field("Tags")
            }
            else
            {
                foreach (var tag in @Model.TagLinks)
                {
                    <li><a href="@tag.Value">@tag.Key</a></li>
                }
            }
        </ul>
    </div>
}