@using Sitecore.Links 
@using Sitecore.Modules.WeBlog.Configuration
@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model Sitecore.Modules.WeBlog.Mvc.Model.PostListEntry

<section>
    <header>
        <h2>
            <a href="@LinkManager.GetItemUrl(Model.EntryItem)">@Model.EntryItem.DisplayTitle.ToHtmlString()</a>
        </h2>
        <div class="thumbnail">
            @Html.Sitecore().Field("Thumbnail Image", Model.EntryItem, new { @class = "wb-image", mw = Model.MaxWidth, mh = Model.MaxHeight })
        </div>
        <div class="wb-details">
            @Translator.Format("ENTRY_DETAILS", Model.EntryItem.Created.ToString(WeBlogSettings.Instance.DateFormat), Model.EntryItem.AuthorName).ToHtmlString()
        </div>
    </header>

    <div class="description">
        <div class="summary">
        @Model.Summary.ToHtmlString()
        </div>
        @if (Model.ShowCommentsCount)
        {
            <span class="wb-comment-count">
                @Translator.Render("COMMENTS").ToHtmlString() (@Model.CommentCount)
            </span>
        }
        <a class="wb-read-more" href="@LinkManager.GetItemUrl(Model.EntryItem)">@Translator.Text("READ_MORE").ToHtmlString()</a>
    </div>
</section>