@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model IEnumerable<Sitecore.Modules.WeBlog.Mvc.Model.RecentCommentsRenderingModel>

<div class="wb-recent-comments wb-panel">
    <h3>@Translator.Render("RECENT_COMMENTS").ToHtmlString()</h3>
    <ul>
        @foreach (var comment in Model)
        {
            <li>
                <div class="wb-details">
                    <span class="wb-comment-author">@comment.Comment.AuthorName.ToHtmlString()</span>
                    @Translator.Render("ON").ToHtmlString()
                    <a href="@comment.EntryUrl">@comment.EntryTitle.ToHtmlString()</a>
                    @Translator.Render("AT").ToHtmlString()
                    <span class="wb-datetime">
                        @Translator.Format("COMMENT_DATE", comment.Comment.Created).ToHtmlString()
                    </span>
                </div>
                <div class="wb-comment-content">
                    @comment.Comment.Text.HtmlEncode().MaxLength(150).ToHtmlString()
                </div>
            </li>
        }
    </ul>
</div>



