@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model Sitecore.Modules.WeBlog.Mvc.Model.SubmitCommentRenderingModel

@{ Html.RenderPartial("~/Views/WeBlog/SubmitComment/CommentScroll.cshtml"); }
<div class="wb-entry-add-comment wb-panel">
    <h3>@Translator.Render("ADD_COMMENT").ToHtmlString()</h3>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, Translator.Text("COMMENT_DATA_INVALID"), new { @class = "wb-error" })

        { Html.RenderPartial("~/Views/WeBlog/SubmitComment/MessagePanel.cshtml"); }

        <div>
            <label>@Translator.Render("NAME").ToHtmlString()</label>
            @Html.TextBoxFor(m => m.UserName, new { @class = "wb-textbox", width = 220 })
            @Html.ValidationMessageFor(model => model.UserName, "*")
        </div>
        <div>
            <label>@Translator.Render("EMAIL").ToHtmlString()</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "wb-textbox", width = 220 })
            @Html.ValidationMessageFor(model => model.UserName, "*")
        </div>
        <div>
            <label>@Translator.Render("WEBSITE").ToHtmlString()</label>
            @Html.TextBoxFor(m => m.Website, new { @class = "wb-textbox", width = 220 })
        </div>
        <div>
            <label>@Translator.Render("COMMENT").ToHtmlString()</label>
            @Html.TextAreaFor(m => m.Comment, new { cols = "60", rows = "10" })
            @Html.ValidationMessageFor(model => model.UserName, "*")
        </div>
        <div class="wb-comment-form-wrapper">
            @Html.Sitecore().Placeholder("weblog-comment-form")
        </div>
        <div>
            <input type="submit" value="@Translator.Text("POST").ToHtmlString()" />
        </div>
    }
</div>
