@using System.ComponentModel
@using System.Web
@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model Sitecore.Modules.WeBlog.Mvc.Model.TagCloudRenderingModel

<div class="wb-tag-cloud wb-panel">
    <h3>@Translator.Render("TAGCLOUD").ToHtmlString()</h3>

    <ul class="wb-tag-sorting">
        @foreach (var sortOption in Model.SortNames)
        {
            <li>
                <a data-tag-sort="@sortOption">
                    @Translator.Render("TAGSORT_" + (sortOption).ToUpperInvariant()).ToHtmlString()
                </a>
            </li>
        }
    </ul>

    <div class="wb-entries">
        @foreach (var tag in Model.Tags)
        {
            <a data-lastused="@tag.LastUsed.ToString("s")"
               data-alphabetic="@HttpUtility.HtmlAttributeEncode(tag.Name.ToLowerInvariant())"
               data-entrycount="@tag.Count"
               class="@("wb-weight" + tag.Weight)"
               href="@tag.Url">
                @tag.Name
            </a>
        }
    </div>
</div>