@using Sitecore.Modules.WeBlog.Extensions

@using Sitecore.Modules.WeBlog.Globalization
@model Sitecore.Modules.WeBlog.Model.ArchiveRenderingModel

<div class="wb-archive wb-panel" id="wb-archive">
    <h3>@Translator.Render("ARCHIVE").ToHtmlString()</h3>
    <ul>
        @foreach (var year in Model.ArchiveCore.MonthsByYear)
        {
            <li>
                <a class="wb-year @(Model.ExpandMonthsOnLoad ? "expanded" : "")">@year.Key</a>
                <ul id="month-@year.Key" class="wb-month" style="@(Model.ExpandMonthsOnLoad ? "" : "display:none;")">
                    @foreach (var month in year.Value)
                    {
                        var monthName = Model.ArchiveCore.GetFriendlyMonthName(month);
                        var entries = Model.ArchiveCore.EntriesByMonthAndYear[month];
                        <li>
                            <a class="wb-month @(Model.ExpandPostsOnLoad ? "expanded" : "")">@monthName (@entries.Count)</a>
                            <ul id="entries-@monthName" class="wb-entries" style="@(Model.ExpandPostsOnLoad ? "" : "display:none;")">
                                @foreach (var entry in entries)
                                {
                                    <li>
                                        <a href="@entry.Url">@entry.Title.Rendered.ToHtmlString()</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>
