@using Sitecore.Modules.WeBlog.Extensions
@model Sitecore.Modules.WeBlog.Model.Blog

<div class="wb">
    <header id="top">
        <a href="@Model.Hyperlink">
            @Html.Sitecore().Field("Title", @Model.BlogItem)
        </a>
    </header>
    <div class="wb-wrapper">
        <main>
            @Html.Sitecore().Placeholder("weblog-main")
        </main>
        <aside>
            @Html.Sitecore().Placeholder("weblog-sidebar")
        </aside>
    </div>
    <footer id="bottom">
        @*Feel free to remove the following line from your implementation*@
        <span class="powered-by">
            Powered by <a href="http://github.com/WeTeam/WeBlog">WeBlog</a>
        </span>
        @Model.Theme.Credits.ToHtmlString()
    </footer>
</div>