@model Sitecore.Modules.WeBlog.Model.Blog

<div class="wb">
    <header>
        <a href="@Model.Hyperlink">
            @Html.Sitecore().Field("Title", @Model.BlogItem)
        </a>
    </header>
    <div class="wb-wrapper">
        <main>
            @Html.Sitecore().Placeholder("weblog-main")
        </main>
        <aside>
            @Html.Sitecore().Placeholder("weblog-sidebar")
        </aside>
    </div>
    <footer>
        @*Feel free to remove the following line from your implementation*@
        Powered by <a href="http://github.com/WeTeam/WeBlog">WeBlog</a>
    </footer>
</div>