@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model Sitecore.Modules.WeBlog.Model.EntryRenderingModel

@{
    ViewBag.Title = Model.Title;
}

<div class="wb-entry">
    @Html.Sitecore().Field("Image", new { @class = "wb-image", mw = 300, mh = 200 })
    @if (Model.ShowEntryTitle) //TODO: Chekck the difference between name and Field title
    {
        <h2>
            @if (!string.IsNullOrEmpty(Model.CurrentEntry["title"]) || Sitecore.Context.PageMode.IsPageEditor)
            {
                @Html.Sitecore().Field("Title")
            }
            else
            {
                @Model.CurrentEntry.Name
            }
        </h2>
    }
    @if (Model.ShowEntryMetadata)
    {
        <div class="wb-details">
            @if (Sitecore.Context.PageMode.IsPageEditor)
            {
                @Translator.Format("ENTRY_DETAILS", Model.CurrentEntry.Created.ToString(Sitecore.Modules.WeBlog.Settings.DateFormat), Model.CurrentEntry.Author.Rendered).ToHtmlString()
            }
            else
            {
                @Translator.Format("ENTRY_DETAILS", Model.CurrentEntry.Created.ToString(Sitecore.Modules.WeBlog.Settings.DateFormat), Model.CurrentEntry.AuthorName).ToHtmlString()
            }
        </div>
    }
    @if (Model.ShowEntryIntroduction)
    {
        @Html.Sitecore().Placeholder("weblog-below-entry-title")
        @Html.Sitecore().Field("Introduction", shouldWrap: Model.CurrentEntry.DoesFieldRequireWrapping("Introduction"))
    }
    @Html.Sitecore().Field("Content", shouldWrap: Model.CurrentEntry.DoesFieldRequireWrapping("Content"))
    @Html.Sitecore().Placeholder("weblog-below-entry")
</div>