@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model IEnumerable<Sitecore.Modules.WeBlog.Model.RecentCommentsRenderingModel>

<div class="wb-recent-comments wb-panel">
    <h3>@Translator.Render("RECENT_COMMENTS").ToHtmlString()</h3>
    <ul>
        @foreach (var comment in Model)
        {
            <li>
                <span class="wb-comment-author">@comment.CommentItem.Name.Text.ToHtmlString()</span>
                @Translator.Render("ON").ToHtmlString()
                <a href="@comment.EntryUrl">@comment.EntryTitle.ToHtmlString()</a>
                @Translator.Render("AT").ToHtmlString()
                <span class="wb-datetime">
                    @Translator.Format("COMMENT_DATE", comment.CommentItem.Created).ToHtmlString()
                </span>
                <span class="wb-comment-content">
                    @comment.CommentItem.Comment.HtmlEncode().MaxLength(150).ToHtmlString()
                </span>
            </li>
        }
    </ul>
</div>



