@using Sitecore.Modules.WeBlog.Extensions
@using Sitecore.Modules.WeBlog.Globalization
@model Sitecore.Modules.WeBlog.Model.SubmitCommentRenderingModel

@{ Html.RenderPartial("~/Views/WeBlog/SubmitComment/CommentScroll.cshtml"); }
<div class="wb-entry-add-comment wb-panel">
    <h3>@Translator.Render("ADD_COMMENT").ToHtmlString()</h3>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, Translator.Text("REQUIRED_FIELDS"), new { @class = "wb-error" })

        { Html.RenderPartial("~/Views/WeBlog/SubmitComment/MessagePanel.cshtml"); }

        @Html.LabelFor(m => m.UserName, Translator.Render("NAME"))
        @Html.TextBoxFor(m => m.UserName, new { @class = "wb-textbox", width = 220 })
        @Html.ValidationMessageFor(model => model.UserName, "*")
        <br />
        @Html.LabelFor(m => m.Email, Translator.Render("EMAIL"))
        @Html.TextBoxFor(m => m.Email, new { @class = "wb-textbox", width = 220 })
        @Html.ValidationMessageFor(model => model.UserName, "*")
        <br />
        @Html.LabelFor(m => m.Website, Translator.Render("WEBSITE"))
        @Html.TextBoxFor(m => m.Website, new { @class = "wb-textbox", width = 220 })
        <br />
        @Html.LabelFor(m => m.Comment, Translator.Render("COMMENT"))
        @Html.TextAreaFor(m => m.Comment, new { cols = "60", rows = "10" })
        @Html.ValidationMessageFor(model => model.UserName, "*")

        @Html.Sitecore().Placeholder("weblog-comment-form")
        <input type="submit" value="@Translator.Text("POST")" />
    }
</div>
