@model Sitecore.Modules.WeBlog.Model.Twitter

<div class="wb-twitter wb-panel">
    <a class="twitter-timeline"
       data-screen-name="@Model.Username"
       data-widget-id="@Model.WidgetId"
       data-theme="@Model.Theme"
       data-tweet-limit="@Model.NumberOfTweets"
       data-chrome="@Model.Chrome"
       data-border-color="@Model.BorderColour"
       data-link-color="@Model.LinkColour"
       height="@Model.Height"
       width="@Model.Width">
        @if (String.IsNullOrEmpty(Model.WidgetId) && Sitecore.Context.PageMode.IsPageEditor)
        {
            @:<b>WidgetId</b> parameter is missing.
        }
    </a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
</div>